<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{pageTitle}}</title>
	</head>
	<body>
		{{> header}}
		<h1>Welcome to my {{pageTitle}}</h1>
		<p>Here you will find all information about my projects</p>
        <p>I have over {{projectDetails.length}} completed projects</p>

	 {{> footer}}
	</body>
</html>
